if flash.info != null
  div(class='container')
    div(class='alert alert-success alert-dismissible', role='alert')
      button(type="button",class="close",data-dismiss="alert")
        span(aria-hidden="true") &times;
      p(class='text-center')
        = flash.info
if flash.warning != null
  div(class='container')
    div(class='alert alert-danger alert-dismissible', role='alert')
      button(type="button",class="close",data-dismiss="alert")
        span(aria-hidden="true") &times;
      p(class='text-center')
        = flash.warning
