mixin flash-messages(flash)
  if flash.info != null
    div(class='alert alert-success')
      p(class='text-center')
        = flash.info
  if flash.warning != null
    div(class='alert alert-danger')
      p(class='text-center')
        = flash.warning
