div(id="footer")
  div(class="container")
    div(class='row')
      p(class='text-center')
        a(href='http://www.renren.com/306863005/profile')
          | 清华大学学生羽毛球协会
    div(class='row')
      p(class="text-center")
        | Copyright © 2014, Badminton Association, Tsinghua University, Beijing, China, 100084
