nav(class='navbar navbar-default navbar-fixed-top', role='navigation')
  div(class='container')
    div(class='navbar-header')
      button(type="button",class="navbar-toggle",data-toggle="collapse",data-target=".navbar-collapse")
        span(class="sr-only") Toggle navigation
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
      a(class='navbar-brand', href='/')
        h4
          span(class="glyphicon glyphicon-home")
          |  清华羽协
    div(class='navbar-collapse collapse')
      ul(class='nav navbar-nav')
        li(class=(name=='application'||name=='activity')?'active':'')
          a(id="dactivity",role="button",data-toggle="dropdown",data-target="#",href="/")
            h4
              span(class="glyphicon glyphicon-circle-arrow-down")
              |  羽协活动
          ul(class="dropdown-menu",role="menu",aria-labelledby="dactivity")
            //- li
              a(href='/confirm')
                h5
                  span(class="glyphicon glyphicon-heart")
                  |  老会员确认
            li
              a(href='/application')
                h5
                  span(class="glyphicon glyphicon-pencil")
                  |  招新报名
            li(class="divider")
            li
              a(href='/activity')
                h5
                  span(class="glyphicon glyphicon-off")
                  |  羽协活动通知
            li(class="divider")
            li
              a(href="/crowd1")
                h5
                  span(class="glyphicon glyphicon-thumbs-up")
                  |  群众体育（周四11:30~13:00）
            li
              a(href="/crowd2")
                h5
                  span(class="glyphicon glyphicon-thumbs-up")
                  |  群众体育（周四13:00~14:00）
            li
              a(href="/crowd3")
                h5
                  span(class="glyphicon glyphicon-thumbs-up")
                  |  群众体育（周四14:00~15:00）
            li(class="divider")
            //- li
              a(href="/official")
                h5
                  span(class="glyphicon glyphicon-thumbs-up")
                  |  群众体育（周六10:00~12:00）
        li(class=(name=='team')?'active':'')
          a(id="dteam",role="button",data-toggle="dropdown",data-target="#",href="/")
            h4
              span(class="glyphicon glyphicon-flag")
              |  团体赛
          ul(class="dropdown-menu",role="menu",aria-labelledby="dteam")
            li
              a(class='trigger right-caret')
                h4
                  span(class="glyphicon glyphicon-flag")
                  |  2014团体赛&nbsp;&nbsp;&nbsp;
                  span(class="glyphicon glyphicon-chevron-right")
              ul(class="dropdown-menu sub-menu")
                li
                  a(href="/team/2014/list")
                    h5
                      span(class="glyphicon glyphicon-info-sign")
                      |  2014团体赛参赛选手名单
                li
                  a(href="/team/2014/Results/1")
                    h5
                      span(class="glyphicon glyphicon-info-sign")
                      |  2014团体赛甲组小组赛
                li
                  a(href="/team/2014/Results/2")
                    h5
                      span(class="glyphicon glyphicon-info-sign")
                      |  2014团体赛乙组小组赛
                li
                  a(href="/team/2014/Results/3")
                    h5
                      span(class="glyphicon glyphicon-info-sign")
                      |  2014团体赛甲组淘汰赛
                li
                  a(href="/team/2014/Results/4")
                    h5
                      span(class="glyphicon glyphicon-info-sign")
                      |  2014团体赛乙组淘汰赛
                li
                  a(href="/team/2014/Results/5")
                    h5
                      span(class="glyphicon glyphicon-info-sign")
                      |  2014团体赛甲乙组总决赛
                li
                  a(href="/team/2014/Apply")
                    h5
                      span(class="glyphicon glyphicon-pencil")
                      |  2014团体赛报名
                li(class="divider")
                li
                  a(href='/team/2014/admin')
                    h5
                      span(class="glyphicon glyphicon-user")
                      |  管理员
            li
              a(class='trigger right-caret')
                h4
                  span(class="glyphicon glyphicon-flag")
                  |  2013团体赛&nbsp;&nbsp;&nbsp;
                  span(class="glyphicon glyphicon-chevron-right")
              ul(class="dropdown-menu sub-menu")
                li
                  a(href="/team/2013/list")
                    h5
                      span(class="glyphicon glyphicon-info-sign")
                      |  2013团体赛参赛选手名单
                li
                  a(href="/team/2013/Results/1")
                    h5
                      span(class="glyphicon glyphicon-info-sign")
                      |  2013团体赛甲组小组赛
                li
                  a(href="/team/2013/Results/2")
                    h5
                      span(class="glyphicon glyphicon-info-sign")
                      |  2013团体赛乙组小组赛
                li
                  a(href="/team/2013/Results/3")
                    h5
                      span(class="glyphicon glyphicon-info-sign")
                      |  2013团体赛甲组淘汰赛
                li
                  a(href="/team/2013/Results/4")
                    h5
                      span(class="glyphicon glyphicon-info-sign")
                      |  2013团体赛乙组淘汰赛
                li
                  a(href="/team/2013/Results/5")
                    h5
                      span(class="glyphicon glyphicon-info-sign")
                      |  2013团体赛甲乙组总决赛
        li(class=(name=='individual')?'active':'')
          a(id="dindividual",role="button",data-toggle="dropdown",data-target="#",href="/")
            h4
              span(class="glyphicon glyphicon-star")
              |  单项赛
          ul(class="dropdown-menu",role="menu",aria-labelledby="dindividual")
            li
              a(href="/individual/2015")
                h5
                  span(class="glyphicon glyphicon-pencil")
                  |  2015单项赛报名
            li(class="divider")
            li
              a(href="/individual/2014/Results/mens_singles")
                h5
                  span(class="glyphicon glyphicon-info-sign")
                  |  2014男单比赛结果
            li
              a(href="/individual/2014/Results/mens_doubles")
                h5
                  span(class="glyphicon glyphicon-info-sign")
                  |  2014男双比赛结果
            li
              a(href="/individual/2014/Results/womens_doubles")
                h5
                  span(class="glyphicon glyphicon-info-sign")
                  |  2014女双比赛结果
            li
              a(href="/individual/2014/Results/mixed_doubles")
                h5
                  span(class="glyphicon glyphicon-info-sign")
                  |  2014混双比赛结果
            li
              a(href="/individual/2014")
                h5
                  span(class="glyphicon glyphicon-pencil")
                  |  2014单项赛报名
      ul(class='nav navbar-nav navbar-right')
        li(class=(name=='register'||name=='login'||name=='edit'||name=='map'||name=='list'||name=='sign')?'active':'')
          a(id="duser",role="button",data-toggle="dropdown",data-target="#",href="/")
            h4
              span(class="glyphicon glyphicon-list")
              |  帐号
          ul(class="dropdown-menu",role="menu",aria-labelledby="duser")
            if user == null
              li(class=(name=='login')?'active':'')
                a(href='/login')
                  h5
                    span(class="glyphicon glyphicon-log-in")
                    |  登录
            if user == null
              li(class=(name=='register')?'active':'')
                a(href='/register')
                  h5
                    span(class="glyphicon glyphicon-registration-mark")
                    |  注册
            if user != null
              li(class=(name=='logout')?'active':'')
                a(href='/logout')
                  h5
                    span(class="glyphicon glyphicon-log-out")
                    |  登出
            if user != null
              li(class=(name=='edit')?'active':'')
                a(href='/edit')
                  h5
                    span(class="glyphicon glyphicon-edit")
                    |  修改资料
            li
              a(href='/qrcode')
                h5
                  span(class="glyphicon glyphicon-qrcode")
                  |  二维码下载
            li(class=(name=='map')?'active':'')
              a(href='/map')
                h5
                  span(class="glyphicon glyphicon-map-marker")
                  |  地图
            li
              a(href='/sign')
                h5
                  span(class="glyphicon glyphicon-user")
                  |  签到管理
            li(class=(name=='list')?'active':'')
              a(href='/list')
                h5
                  span(class="glyphicon glyphicon-user")
                  |  资料管理
