div(class='navbar navbar-default', role='navigation')
  div(class='container')
    div(class='navbar-brand')
      a(href='./')
        h4
          span(class="glyphicon glyphicon-star")
          |  清华羽协
    div(class='navbar-header')
      button(type="button",class="navbar-toggle",data-toggle="collapse",data-target=".navbar-collapse")
        span(class="sr-only") Toggle navigation
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
    div(class='navbar-collapse collapse')
      ul(class='nav navbar-nav')
        li(class=(name=='index')?'active':'')
          a(href='./')
            h4
              span(class="glyphicon glyphicon-home")
              |  首页
        li(class=(name=='application')?'active':'')
          a(href='./application')
            h4
              span(class="glyphicon glyphicon-pencil")
              |  招新报名
        li(class=(name=='activity')?'active':'')
          a(id="dLabel",role="button",data-toggle="dropdown",data-target="#",href="./")
            h4
              span(class="glyphicon glyphicon-chevron-down")
              |  羽协活动预约
          ul(class="dropdown-menu",role="menu",aria-labelledby="dLabel")
            li
              a(href='./activity')
                h4
                  span(class="glyphicon glyphicon-ban-circle")
                  |  羽协活动公告
            li(class="divider")
            li
              a(href="./crowdThursday")
                h4
                  span(class="glyphicon glyphicon-thumbs-up")
                  |  群众体育活动预约（周四）
            li
              a(href="./crowdFriday")
                h4
                  span(class="glyphicon glyphicon-thumbs-up")
                  |  群众体育活动预约（周五）
            li(class="divider")
            li
              a(href="./activityFriday")
                h4
                  span(class="glyphicon glyphicon-thumbs-up")
                  |  羽协会员活动预约（周五）
            li
              a(href="./activitySaturday")
                h4
                  span(class="glyphicon glyphicon-thumbs-up")
                  |  羽协会员活动预约（周六）
        li(class=(name=='individual')?'active':'')
          a(id="dLabel",role="button",data-toggle="dropdown",data-target="#",href="./")
            h4
              span(class="glyphicon glyphicon-flag")
              |  单项赛
          ul(class="dropdown-menu",role="menu",aria-labelledby="dLabel")
            li
              a(href="./individual")
                h4
                  span(class="glyphicon glyphicon-pencil")
                  |  单项赛报名
            li(class="divider")
            li
              a(href="./individualResults_mens_singles")
                h4
                  span(class="glyphicon glyphicon-thumbs-up")
                  |  男单比赛结果
            li
              a(href="./individualResults_mens_doubles")
                h4
                  span(class="glyphicon glyphicon-thumbs-up")
                  |  男双比赛结果
            li
              a(href="./individualResults_womens_doubles")
                h4
                  span(class="glyphicon glyphicon-thumbs-up")
                  |  女双比赛结果
            li
              a(href="./individualResults_mixed_doubles")
                h4
                  span(class="glyphicon glyphicon-thumbs-up")
                  |  混双比赛结果
      ul(class='nav navbar-nav navbar-right')
        li(class=(name=='register'||name=='login'||name=='edit'||name=='list')?'active':'')
          a(id="dLabel",role="button",data-toggle="dropdown",data-target="#",href="./")
            h4
              span(class="glyphicon glyphicon-list")
              |  帐号
          ul(class="dropdown-menu",role="menu",aria-labelledby="dLabel")
            if user == null
              li(class=(name=='register')?'active':'')
                a(href='./register')
                  h4
                    span(class="glyphicon glyphicon-registration-mark")
                    |  注册
            if user == null
              li(class=(name=='login')?'active':'')
                a(href='./login')
                  h4
                    span(class="glyphicon glyphicon-log-in")
                    |  登录
            if user != null
              li(class=(name=='edit')?'active':'')
                a(href='./edit')
                  h4
                    span(class="glyphicon glyphicon-edit")
                    |  修改资料
            if user != null
              li(class=(name=='logout')?'active':'')
                a(href='./logout')
                  h4
                    span(class="glyphicon glyphicon-log-out")
                    |  登出
            li
              a(href='./old/index.html',target='_blank')
                h4
                  span(class="glyphicon glyphicon-new-window")
                  |  旧版本
            li(class=(name=='list')?'active':'')
              a(href='./list')
                h4
                  span(class="glyphicon glyphicon-user")
                  |  管理员
