extends includes/layout

block headlink
  title 活动公告 -- 清华羽协

block content
  div(class='container')
    hr
    div(class='panel panel-info')
      div(class='panel-heading')
        h3 羽协活动通知
      div(class='panel-body')
        h4
          | 本周日（3月15日）因要进行招新考试，羽协正式会员活动暂停一次。
        p
          | 2015年3月10日
    hr
