extends includes/layout

block headlink
  title 活动公告 -- 清华羽协

block content
  div(class='container')
    hr
    div(class='panel panel-info')
      div(class='panel-heading')
        h3 羽协活动通知
      div(class='panel-body')
        h4
          | 本周四（3月19日）因综体要举办招聘会，羽协会员活动暂停一次。
        p
          | 2015年3月15日
    hr
