extends layout

block headlink
  title 活动公告 -- 清华羽协

block content
  include includes/navbar
  
  if typeof(flash) != 'undefined'
    include includes/flash-messages
    mixin flash-messages(flash)
  
  div(class='container')
    hr
    div(class='panel panel-info')
      div(class='panel-heading')
        h3 羽协会员活动
      div(class='panel-body')
        p
          | 本周六（12月13日）由于综体要举办"校园歌手大赛"，羽协活动暂停一次。
        p
          | 2014年12月9日
    hr
  
  include includes/footer
