extends layout

block headlink
  title 活动公告 -- 清华羽协

block content
  include includes/navbar
  
  if typeof(flash) != 'undefined'
    include includes/flash-messages
    mixin flash-messages(flash)
  
  div(class='container')
    hr
    div(class='panel panel-info')
      div(class='panel-heading')
        h3 羽协会员活动
      div(class='panel-body')
        p
          | 本周六（1月10日）由于综体要举办"冬令营活动"，羽协活动暂停一次。
        h4
          | 本学期的羽协活动已全部结束，感谢同学们对羽协的支持，祝大家期末顺利！
        p
          | 2015年1月9日
    hr
  
  include includes/footer
