extends includes/layout

block headlink
  title 二维码下载 -- 清华羽协

block content
  div(class='container')
    hr
    div(class='panel panel-info')
      div(class='panel-heading')
        h3 二维码下载
      div(class='panel-body')
        div(class="col-md-4 col-sm-4 col-xs-12 text-center")
          h3= result.name
          h3= result.email
          h3= result.phone
          hr
        div(class="col-md-8 col-sm-8 col-xs-12 text-center")
          h4 请下载下方的二维码到手机上作为本学期参与活动的凭证。
          h4 收费和签到的时候，都可以通过扫描二维码进行确认。
          h4 （如果无法显示，请尝试刷新）
          - address = 'http://tsba.tk/sign/' + result.studentid + '/' + result.prikey
          img(id='qrcode', class='img-responsive', src='http://qr.liantu.com/api.php?logo=http://luosuiqian.github.io/badminton/public/img/logo.png&w=400&text='+address, alt='qrcode')
    hr
