extends includes/layout

block headlink
  title 裁判 -- 清华羽协

block content
  include includes/navbar
  
  if typeof(flash) != 'undefined'
    include includes/flash-messages
    mixin flash-messages(flash)
  
  div(class='container')
    hr
    div(class='text-center')
      h6(id='debug')
      h6(id='debug2')
      h3(id='loading') 正在同步，稍候
      h3(id='finished', style='display:none') 比赛已经结束！
      button(type='button', class='btn btn-info', id='pos', style='display:none')
        | 交换场地
      button(type='button', class='btn btn-info', id='serve', style='display:none')
        | 交换发球
      button(type='button', class='btn btn-info', id='pos12', style='display:none')
        | 选手交换位置
      button(type='button', class='btn btn-info', id='pos34', style='display:none')
        | 选手交换位置
      button(type='button', class='btn btn-success', id='point12', style='display:none')
        | 得分
      button(type='button', class='btn btn-success', id='point34', style='display:none')
        | 得分
      button(type='button', class='btn btn-danger', id='gg12', style='display:none')
        | 弃权
      button(type='button', class='btn btn-danger', id='gg34', style='display:none')
        | 弃权
      button(type='button', class='btn btn-success', id='gameStart', style='display:none')
        | 选定场地、发球，进入第一局比赛
      button(type='button', class='btn btn-success', id='gameEnd', style='display:none')
        | 比赛结束，确认提交
      button(type='button', class='btn btn-danger', id='repeal', style='display:none')
        | 撤销
      a(href='/referee', class='btn btn-primary')
        | 返回
    hr
  
  include includes/footer
  
  - var url = '/referee/' + year + '/' + type + '/' + leftP + '/' + rightP + '/match'
  script(type='text/javascript').
    var parse = function(match) {
      var totalGame = parseInt(match.game);
      var scoreL = new Array(totalGame * 2 - 1);
      var scoreR = new Array(totalGame * 2 - 1);
      for (var i = 0; i < totalGame * 2 - 1; i++) scoreL[i] = scoreR[i] = 0;
      var gameL = 0, gameR = 0, now = 0, swap = false, giveUp = false;
      var finished = false, newGame = true, finalPos = false;
      var pos = match.pos, serve = match.serve;
      var posL = match.pos12 & 1;
      var posR = match.pos34 & 1;
      for (var i = 0; i < match.points.length; i++) {
        swap = false;
        if (match.points[i] == '8' || match.points[i] == '9') {
          if (match.points[i] == '8') gameL = totalGame;
          if (match.points[i] == '9') gameR = totalGame;
          giveUp = true;
          finished = true;
          newGame = false;
          break;
        }
        if (match.points[i] == '0') {
          scoreL[now]++;
          if (serve == 0) posL = 1 - posL;
          else serve = 0;
        }
        if (match.points[i] == '1') {
          scoreR[now]++;
          if (serve == 1) posR = 1 - posR;
          else serve = 1;
        }
        if (now == totalGame && (scoreL[now] == parseInt((match.total + 1) / 2)
            || scoreR[now] == parseInt((match.total + 1) / 2)) && !finalPos) {
          finalPos = true;
          pos = 1 - pos;
          swap = true;
        }
        if (((scoreL[now] >= match.total || scoreR[now] >= match.total)
            && (scoreL[now] - scoreR[now] >= match.diff
                || scoreR[now] - scoreL[now] >= match.diff))
            || scoreL[now] == match.upper || scoreR[now] == match.upper) {
          if (scoreL[now] > scoreR[now]) gameL++;
          if (scoreL[now] < scoreR[now]) gameR++;
          if (gameL == totalGame || gameR == totalGame) {
            finished = true;
            newGame = false;
            break;
          } else {
            finished = false;
            newGame = true;
            now++;
            pos = 1 - pos;
            swap = true;
            posL = (match.pos12 >> now) & 1;
            posR = (match.pos34 >> now) & 1;
          }
        } else {
          finished = false;
          newGame = false;
        }
      }
      return {gameL: gameL, gameR: gameR, giveUp: giveUp,
          scoreL: scoreL, scoreR: scoreR, swap: swap,
          now: now, newGame: newGame, finished: finished,
          pos: pos, posL: posL, posR: posR, serve: serve};
    }
    var match = null;
    var detail = null;
    var before = function() {
      $("#loading").show();
      $("#point12").prop('disabled', true);
      $("#point34").prop('disabled', true);
    }
    var after = function() {
      $("#loading").hide();
      $("#point12").prop('disabled', false);
      $("#point34").prop('disabled', false);
    }
    var update = function() {
      if (match == null) {
        alert('错误！请刷新重试！');
        return;
      }
      $("button").hide();
      detail = parse(match);
      $("#debug").text(JSON.stringify(match));
      $("#debug2").text(JSON.stringify(detail));
      if (match.status == 0) {
        $("#pos").show();
        $("#serve").show();
        $("#gameStart").show();
      }
      if (match.status == 1) {
        $("#repeal").show();
      }
      if (match.status == 1 && detail.newGame) {
        $("#pos12").show();
        $("#pos34").show();
      }
      if (match.status == 1 && !detail.finished) {
        $("#point12").show();
        $("#point34").show();
        $("#gg12").show();
        $("#gg34").show();
      }
      if (match.status == 1 && detail.finished) {
        $("#gameEnd").show();
      }
      if (match.status == 2) {
        $("#finished").show();
      }
      setTimeout(after, 500);
    }
    var write = function() {
      before();
      $.ajax({
        url: "#{url}",
        data: {match: match},
        type: "POST",
        dataType: "json",
        success: function(m) {
          match = m;
          update();
        },
      });
    };
    var read = function() {
      $.ajax({
        url: "#{url}",
        type: "GET",
        success: function(m) {
          match = m;
          update();
        },
      });
    };
    $("#pos").click(function() {
      match.pos = 1 - match.pos;
      write();
    });
    $("#pos12").click(function() {
      match.pos12 = (1 << detail.now) ^ match.pos12;
      write();
    });
    $("#pos34").click(function() {
      match.pos34 = (1 << detail.now) ^ match.pos34;
      write();
    });
    $("#serve").click(function() {
      match.serve = 1 - match.serve;
      write();
    });
    $("#point12").click(function() {
      match.points += "0";
      write();
    });
    $("#point34").click(function() {
      match.points += "1";
      write();
    });
    $("#gg12").click(function() {
      match.points += "8";
      write();
    });
    $("#gg34").click(function() {
      match.points += "9";
      write();
    });
    $("#gameStart").click(function() {
      match.status = 1;
      write();
    });
    $("#gameEnd").click(function() {
      match.status = 2;
      write();
    });
    $("#repeal").click(function() {
      if (match.points != '') {
        match.points = match.points.substring(0, match.points.length - 1);
      } else {
        match.status = 0;
      }
      write();
    });
    $(document).ready(function() {
      read();
    });
