extends includes/layout

block headlink
  title 比赛场地直播 -- 清华羽协
  style.
    td { font-size: 100px; }

block content
  div(class='container')
    hr
    div(class='table-responsive')
      table(class='table table-bordered', id='match')
    hr
  
  - var url = '/referee/admin/' + year + '/'
  script(src='/js/parseMatch.js')
  script(type='text/javascript').
    var read = function(url, callback) {
      $.ajax({
        url: url,
        type: "GET",
        success: function(m) {
          callback(m);
        },
      });
    };
    var users, matches;
    var update = function () {
      read("#{url}" + "matches", function(m) {
        matches = m;
        var userName = [null, {}, null, {}, {}, {}];
        for (var i = 0; i < users.length; i++) {
          userName[users[i].type][users[i].id] = users[i].name;
        }
        for (var i = 0; i < matches.length; i++) {
          matches[i].nam1 = userName[matches[i].type][matches[i].id1];
          matches[i].nam2 = matches[i].id2 == 0 ? '' : userName[matches[i].type][matches[i].id2];
          matches[i].nam3 = userName[matches[i].type][matches[i].id3];
          matches[i].nam4 = matches[i].id4 == 0 ? '' : userName[matches[i].type][matches[i].id4];
        }
        $("#match tr").remove();
        var table = $("#match");
        for(var i = 0; i < matches.length; i++)
        {
          if (matches[i].status >= 3) continue;
          if (matches[i].space != #{id}) continue;
          var tr = $("<tr></tr>");
          var detail = parseMatch(matches[i]);
          $("<td>" + matches[i].nam1 + "</td>").appendTo(tr);
          $("<td>" + matches[i].nam2 + "</td>").appendTo(tr);
          for (var i=0;i<detail.now;i++) $("<td>" + detail.scoreL[i] + "</td>").appendTo(tr);
          if (detail.serve == 0) $("<td class='success'>" + detail.scoreL[detail.now] + "</td>").appendTo(tr);
          if (detail.serve == 1) $("<td>" + detail.scoreL[detail.now] + "</td>").appendTo(tr);
          tr.appendTo(table);
          var tr = $("<tr></tr>");
          $("<td>" + matches[i].nam3 + "</td>").appendTo(tr);
          $("<td>" + matches[i].nam4 + "</td>").appendTo(tr);
          for (var i=0;i<detail.now;i++) $("<td>" + detail.scoreR[i] + "</td>").appendTo(tr);
          if (detail.serve == 0) $("<td>" + detail.scoreR[detail.now] + "</td>").appendTo(tr);
          if (detail.serve == 1) $("<td class='success'>" + detail.scoreR[detail.now] + "</td>").appendTo(tr);
          tr.appendTo(table);
        }
        setTimeout(update, 3000);
      });
    }
    $(document).ready(function() {
      read("#{url}" + "users", function(m) {
        users = m;
        update();
      });
    });
