extends includes/layout

block headlink
  title 二维码名片 -- 清华羽协

block content
  div(class='container')
    hr
    div(class='panel panel-info')
      div(class='panel-heading')
        h3 学号
      div(class='panel-body')
        p= studentid
    hr
