.carousel-inner > .item > p > img {
  height: 600px;
}
.carousel-indicators li {
  border: 1px solid #000;
  background-color: #ccc;
}
.img-responsive {
  width: 100%;
}
.table>thead>tr>th, .table>tbody>tr>td {
  text-align: center;
  vertical-align: middle;
}
