body {
  padding-top: 80px;
}
#myCarousel {
  max-width: 900px;
  margin: 0 auto;
}
.carousel-indicators li {
  border: 1px solid #000;
  background-color: #ccc;
}
.img-responsive {
  width: 100%;
}
.table > thead > tr > th, .table > tbody > tr > td {
  text-align: center;
  vertical-align: middle;
}
#qrcode {
  max-width: 400px;
  margin: 0 auto;
}

.dropdown-menu > li /* To prevent selection of text */
{
    position: relative;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
}
.dropdown-menu .sub-menu
{
    left: 100%;
    position: absolute;
    top: 0;
    display: none;
    margin-top: -2px;
    margin-left: -2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-color: #ccc;
    box-shadow: none;
}
