body {
  padding-top: 80px;
}
#myCarousel {
  max-width: 900px;
  margin: 0 auto;
}
.carousel-indicators li {
  border: 1px solid #000;
  background-color: #ccc;
}
.img-responsive {
  width: 100%;
}
.table > thead > tr > th, .table > tbody > tr > td {
  text-align: center;
  vertical-align: middle;
}
#qrcode {
  max-width: 400px;
  margin: 0 auto;
}
